NODE_ENV=development
PORT=3001

# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=dracin
# DATABASE_USER=dracin
# DATABASE_PASSWORD=password
DATABASE_URL=file:.data/dracin.db

API_PROXY_URL=http://localhost:3002
PRIMARY_API_URL=http://localhost:3001

BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=xxxx

ADMIN_AUTH_SECRET=xxxx
