NODE_ENV=development
PORT=3001

# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=dracin
# DATABASE_USER=dracin
# DATABASE_PASSWORD=password
DATABASE_URL=file:.data/dracin.db

# API Configuration
PRIMARY_API_URL=http://localhost:3001
API_PROXY_URL=http://localhost:3002

# Better Auth Configuration
BETTER_AUTH_URL=http://localhost:3001
BETTER_AUTH_SECRET=xxxx

# Resend Auth Configuration
RESEND_API_KEY=xxxx
RESEND_FROM_EMAIL=noreply@dracin.mukhsin.web.id

# Google Auth
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx

ADMIN_AUTH_SECRET=xxxx
